@import url('https://fonts.googleapis.com/css2?family=Cute+Font&family=Playwrite+FR+Moderne:wght@100..400&family=Playwrite+PL:wght@100..400&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: url('/assets/image/img-fondo-pagina.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: "Playwrite FR Moderne", cursive;
    color: #ff69b4;
}

.mp3-player {
    position: relative;
    width: 400px;
    height: 600px;
    background: url('/assets/image/fondo-hellokitty.jpg') no-repeat center center;
    background-size: cover;
    border: 5px solid white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;
    padding-top: 20px;
}

.screen {
    width: 300px;
    height: 200px;
    background: white;
    margin: 0 auto;
    border: 3px solid #ff69b4;
    border-radius: 10px;
}

.controls {
    position: relative;
    margin-top: 20px;
}

.control-circle {
    top: 50px;
    position: relative;
    width: 150px;
    height: 150px;
    border: 10px solid #ff69b4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 182, 193, 0.7);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}

.control-button {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #ff69b4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
}

#prev {
    top: 10px;
    left: 50%;
    font-size: 30px;
    transform: translateX(-50%);
}

#next {
    bottom: 10px;
    left: 50%;
    font-size: 30px;
    transform: translateX(-50%);
}

#vol-up {
    left: 10px;
    top: 50%;
    font-size: 30px;
    transform: translateY(-50%);
}

#vol-down {
    right: 10px;
    top: 50%;
    font-size: 30px;
    transform: translateY(-50%);
}

#toggle-button {
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    color: #ff69b4;
    font-weight: bold;
}

.song-list-container {
    position: absolute;
    top: 50%;
    left: -300px;
    width: 300px;
    padding: 10px;
    background-color: #fff0f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.5s ease, left 0.5s ease;
    transform: translateY(-50%);
}

.song-list-container.active {
    left: 0;
}

.song-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.song-item {
    margin: 10px 0;
}

.song-item a {
    text-decoration: none;
    color: #ff69b4;
    font-weight: bold;
    display: block;
    padding: 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.song-item a:hover {
    background-color: #ffb6c1;
    text-decoration: underline;
}

h3 {
    color: #ff69b4;
    text-align: center;
    font-size: 1.5em;
    margin: 0;
    padding-bottom: 10px;
}

a{
    font-size: 13px;
}